{{ partial "header.html" . }}

<section class="recipes-section">
	<div class="gallery-list">
		{{ range first 10 (where .Pages "Section" "recipe")}}
		<a href="{{ .Permalink }}" class="gallery-item">
			<div class="gallery-bar">
				{{ .Title }}		  
			</div>

			{{ with .Resources }}
				{{ with .GetMatch "{img/*cover*" }}
					 {{ $cover := .Resize "600x" }}
					 {{ with $cover }}
						  <img class="gallery-image" src="{{ .Permalink }}"/>  
						  
					 {{ end }}
				{{ end }}
			{{ end }}
		</a>
		{{ end }}
	</div>
</section>
<section class="blog-section">
	<h2>Blog</h2>
	<ul>
		{{ range first 10 (where .Pages "Section" "post")}}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
	</ul>
</section>
	
{{ partial "footer.html" . }}