{{ partial "header.html" . }}
<section class="recipe-section">
	<div class="recipe-list">
		{{ range first 4 (where .Pages "Section" "recipe")}}
			{{ partial "recipe.html" . }}	
		{{ end }}
	</div>
	<div class="section-actions">
		<a class="section-link" href="#">More Recipes</a>
	</div>
	<div class="big-spacer"></div>
</section>
<section class="post-section">
	<div class="post-list">
		{{ range first 4 (where .Pages "Section" "post")}}
			{{ partial "post.html" . }}	
		{{ end }}
	</div>
	<div class="section-actions">
		<a class="section-link" href="#">More Posts</a>
	</div>
	<div class="big-spacer"></div>
</section>
	
{{ partial "footer.html" . }}