nav
{
    width:100%;
    position:fixed;
    top:75px;
    right:0;
    font-family:$header-font;

    @include respond-to('medium') {
        width:400px;
    }

    >ul
    {
        @extend .unlist;

        a
        {
            padding:15px 15px;  
            text-decoration:none;
            transition:background 0.3s ease-in-out;
            display:block;
            background:$bay-leaf;
            color:$aqua-spring;

            &:hover 
            {
                background:shade($bay-leaf, 20%);
            }
        }
    }
}

#nav-button {
    position:absolute;
    top:0;
    right:0;
    padding:25px;
    background:$tea-green;

    >div {
        height:3px;
        width:40px;
        background:$bay-leaf;
        margin-bottom:5px;
    }

    &:hover {
        
        >div {
            background:shade($bay-leaf, 20%);
        }
    }
}