nav
{
    width:100%;
    overflow:auto;
    display:none;

    >ul
    {
        @extend .unlist;
        display:flex;
        justify-content:center;

        a
        {
            padding:8px 15px;  
            text-decoration:none;
            transition:background 0.3s ease-in-out;
            display:block;

            &:hover 
            {
                background:$emperor;
                color:$bay-leaf;
            }
        }
    }
}

.menu-icon {
    position:fixed;
    top:0;
    right:0;
    font-size:0;
}