.post-list
{
    @extend .unlist;

    width:100%;
}

.post-item
{
    margin:10px 10px 20px 10px;
    background:$white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    text-align:center;
    padding:20px 0 30px 0;

    p
    {
        text-align:left;
        padding:25px;
    }
}

.post-inner 
{
    width:100%;

    @include respond-to('large')
    {
        width:880px;
        margin:0 auto;
    }
}