<div class="recipe-item-wrapper">
        <div class="recipe-item">
                {{ with .Resources }}
                    {{ with .GetMatch "{img/*cover*" }}
                        {{ $cover := .Resize "600x" }}
                        {{ with $cover }}
                            <img class="recipe-image" src="{{ .Permalink }}"/>  
                            
                        {{ end }}
                    {{ end }}
                {{ end }}
                <div class="recipe-info">
                    <h3>{{ .Title }}</h3>
                    <div class="spacer"></div>
                    <ul class="recipe-tags">
                        {{ range .Params.tags }}
                        <li><a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    <a class="button primary" href="{{ .Permalink }} ">See Recipe</a>
                </div>
        </div>
    </div>