.button {
    background:$oxblood;
    color:$grain;
    margin-top:20px;
    display:inline-block;
    padding:6px 12px;
    text-decoration:none;
    border-radius:3px;
    transition:color 0.3s ease-out;

    &:hover
    {
        color:$tan;
    }
}