.gallery-list
{
    @extend .unlist;

    display:flex;
    width:100%;
    flex-wrap:wrap;
    padding:5px;

    @include respond-to('large')
    {

    }
}

.gallery-item 
{
    flex:1 0 100%;
    overflow:hidden;
    position:relative;

    @include respond-to('medium')
    {
        flex:1 0 50%;
    }

    @include respond-to('large')
    {
        flex:1 0 33%;
    }

}

.gallery-link {
    display:block;
    margin:5px;
    height:280px;
    text-decoration:none;
}

.gallery-image
{
    width:100%;
    display:block;
    height:220px;
    object-fit:cover;

    @include respond-to('medium')
    {
        
     
    }
}

.gallery-info 
{
    text-align:center;
    text-transform:uppercase;
    
}