.gallery-list
{
    @extend .unlist;

    display:flex;
    width:100%;
    flex-wrap:wrap;
    padding:5px;
    background:$white;

    @include respond-to('large')
    {

    }
}

.gallery-item 
{
    flex:1 0 100%;
    overflow:hidden;
    position:relative;
    height:350px;
    //margin:5px;
    
    //margin:1rem;
   


    @include respond-to('medium')
    {
        flex:1 0 50%;
    }

    @include respond-to('large')
    {
        flex:1 0 33%;
    }

    &:hover 
    {
        cursor:pointer;
    }
}

.gallery-link {
    display:block;
    margin:5px;
}

.gallery-image
{
    width:100%;
    display:block;
    height:220px;
    object-fit:cover;

    @include respond-to('medium')
    {
        
     
    }
}

.gallery-bar
{
    position:absolute;
    bottom:0;
    background:rgba(51, 51, 51, 0.5);
    width:100%;
    color:white;
    padding:4px 10px;
}