@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');

$open-sans: 'Open Sans', sans-serif;

*
{
    color:$blackboard;
    font-family:$open-sans;
}

h1, h2, h3, h4, h5
{
    color:$blackboard;
    font-weight:600;
}

h2
{
    text-align:center;
    margin:0;
    text-transform:uppercase;
    font-size:1.1em;
    
}

h3 
{
    font-size:1.3em;
    color:$oxblood;

    &.post-title
    {
        font-size:1.8em;
    }
}

.spacer 
{
    width:45px;
    height:2px;
    margin:0 auto;
    background:$grain;
}

p
{
    font-size:1.1em;
    line-height:1.7;
}

.tags 
{
    @extend .unlist;
    margin:20px 0 10px 0;
    >li
    {
        list-style-type:none;

        >a 
        {
            text-decoration:none;
            font-style:italic;
            color:$tan;
            border-bottom:1px dashed $tan;
            transition:color 0.3s ease-out;

            &:hover{
                color:$oxblood;
            }
        }
    }
}