@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');

$open-sans: 'Open Sans', sans-serif;

*
{
    color:$dark;
    font-family:$open-sans;
}

h1, h2, h3, h4, h5
{
    color:$dark;
    font-weight:600;
}

.spacer 
{
    width:26px;
    height:3px;
    margin:0 auto;
    background:$dark;
}
