body {
    color:$emperor;
    font-family:$body-font;
}

h1, h2, h3, h4, h5
{
    color:$emperor;
    font-family:$header-font;
}

h2
{
    text-align:center;
    margin:0;
    font-size:1.1em;
    
}

h3 
{
    font-size:1.3em;
    color:tint($emperor, 20%);
    text-transform:uppercase;
    font-weight:400;

    &.post-title
    {
        font-size:1.6em;
    }
}

p
{
    font-size:1em;
    line-height:1.7;
}

.tags 
{
    @extend .unlist;
    margin:20px 0 10px 0;
    >li
    {
        list-style-type:none;

        >a 
        {
            text-decoration:none;
            font-style:italic;
            color:$bay-leaf;
            border-bottom:1px dashed $bay-leaf;
            transition:color 0.3s ease-out;

            &:hover{
                color:shade($bay-leaf, 20%);
            }
        }
    }
}