@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather:400,400i,700');

$body-font: 'Merriweather', sans-serif;
$header-font: 'Lato', serif;

$white:#FAFAFA;
$aqua-spring:#F7FDFA;
$tea-green:#DBF2C4;
$emperor:#4F4F4F;
$bay-leaf:#89AE9C;

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}