*
{
    box-sizing:border-box;
}

body
{
    background:$aqua-spring;

}

.site-wrapper
{   
    width:100%;
    margin:0 auto;
    padding-top:90px;

    @include respond-to('full')
    {
        width:1200px;
    }
}