*
{
    box-sizing:border-box;
}

body
{
    background:$light;
}

.site-wrapper
{   
    width:calc(100% - 4rem);
    margin:0 auto;
    background:$lighter;

    @include respond-to('full')
    {
        width:1000px;
       
    }
}